/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #2e2e2e;
  }