---
import "../styles/global.css";
const title = `Will Jones | Delivering high-impact technology solutions`;
const description = `Will Jones: DevOps Security Leader with 10+ years of experience building secure, 
	scalable systems. Focused on driving innovation and business growth.`;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) - Moved to Partytown -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HMRF4FY5MH"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HMRF4FY5MH");
    </script>

    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="author" content="WIll Jones" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://texasbones11.github.io/headhsot.jpeg"
    />
    <meta property="og:url" content="https://texasbones11.github.io" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
